.cart {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.medicine {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  align-items: center;
}

.medicine button {
  padding: 5px 5px;
  width: 50px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 20px;
}

.medicine button:disabled {
  color: gray;
  cursor: not-allowed;
}
